/* BASIC STYLES HERE */
input {
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: 0;
    text-decoration: underline grey;
    outline: 0;
    font-size: 15pt;
}

body {
    background-color: #020039;
    color: white;
}

p {
    margin-bottom: 0;
}


.menu-open {
    position: absolute;
    left: 0;
    top: 40%;
    height: 20vh;
    border-radius: 0 8px 8px 0;
}

.menu-close {
    position: absolute;
    right: -2.25em;
    top: 40%;
    width: 2.25em;
    height: 20vh;
    border-radius: 0 8px 8px 0;
    border-left: solid rgb(255, 255, 255) 2px;
}

.color-icon {
    font-size: 7pt;
}

.jot-card {
    background-color: #4d4d66;
    border: solid #d4d4ea 3px;
    border-radius: 8px;
}


/* The color picker styles sadly aren't mine */
.color-picker {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    width: 1.7em;
    height: 1.6em;
    border: none;
    cursor: pointer;
}

.color-picker::-webkit-color-swatch {
    border-radius: 50%;
    border: 3px solid #696969;
}

.color-picker::-moz-color-swatch {
    border-radius: 50%;
    border: 3px solid #696969;
}

.bg-img {
    width: 100%;
    height: 80vh;
    object-fit: contain;
}